{{#partial heading}}Why Rust{{/partial}}
{{#partial page}}
	<script>var nextSlide = "about_mem_2"</script>
	<div class="body content">
		<p class="big quote">You have a problem. You decide to use Rust.<br />Now you have a <code>Rc&lt;RefCell&lt;Box&lt;Problem&gt;&gt;&gt;</code></p>
		<p class="quote-src">kmc, via IRC</p>
	</div>
{{/partial}}
{{> base }}