{{#partial heading}}What is Rust{{/partial}}
{{#partial page}}
  <script>var nextSlide = "core_values_1"</script>
  <ul class="body big">
  	<li>Backed by LLVM, like Swift</li>
  	<li>Compiles to native. So no virtualised runtime (.NET/Java)</li>
  	<li>Its approach to safety without a GC makes it unique</li>
  	<li>Stack allocated by default</li>
  	<li>No reflection. WYBIWYG</li>
  </ul>
{{/partial}}
{{> base }}