{{#partial heading}}What is Rust{{/partial}}
{{#partial page}}
  <script>var nextSlide = "writing_cs"</script>
  <ul class="body">
  	<li>Backed by LLVM, like Swift</li>
  	<li>A modern, safe language that doesn't use a virtualised runtime (.NET/Java)</li>
  	<li>Its approach to safety without a GC makes it unique</li>
  </ul>
{{/partial}}
{{> base }}