{{#partial heading}}Why Rust{{/partial}}
{{#partial page}}
	<script>var nextSlide = "writing_cs"</script>
	<div class="body content big">
		<code>type Class&lt;T&gt; = Rc&lt;RefCell&lt;Box&lt;T&gt;&gt;&gt;</code>
	</div>
{{/partial}}
{{> base }}