<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="/assets/style.css" />
  </head>
  <body>
    <div class="heading">
    	<h1><span class="happy-crab"></span> Getting into Rust <span class="back" onclick="window.history.back()"><</span> <span class="next" href="next">></span></h1>
    </div>
    {{~#block page}}{{/block~}}
  </body>
</html>