{{#partial heading}}Cargo{{/partial}}
{{#partial page}}
  <script>var nextSlide = "testing"</script>

  <div class="body">
  	<div class="content">
  		<ul class="big">
  			<li>The main entrypoint to Rust's tooling, think <code>dotnet cli</code></li>
  			<li>Manages dependencies, builds, tests, docs</li>
  		</ul>
  	</div>
  </div>
{{/partial}}
{{> base }}