{{#partial heading}}Why Rust{{/partial}}
{{#partial page}}
  <script>var nextSlide = "about_mem_1"</script>
  <img class="body-img" src="/assets/cloud-pc.png" />
  <p class="caption">Inside the Microsoft Cloud</p>
{{/partial}}
{{> base }}