{{#partial heading}}Collections{{/partial}}
{{#partial page}}
  <script>var nextSlide = "option"</script>
  <ul class="body-content">
  	<li><code>Vec<T></code> is the workman's collection</li>
  	<li>Iterating through collections is cheap</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=b75c7e4d2f3240b9ab0f2864ba9ca6ad" />
{{/partial}}
{{> base }}