{{#partial heading}}Zero-cost Abstractions{{/partial}}
{{#partial page}}
  <script>var nextSlide = "about_mem_1"</script>
  <div class="body">
		<ul class="content big">
      <li>Having stuff at compile-time that costs nothing at runtime</li>
      <li>Rust's memory model is a zero-cost abstraction</li>
      <li>The <code>std</code> lib and ecosystem favour zero-cost abstractions</li>
      <li>Means you have the best possible starting point in your apps</li>
    </ul>
  </div>
{{/partial}}
{{> base }}