{{#partial heading}}Core Values{{/partial}}
{{#partial page}}
  <script>var nextSlide = "core_values_3"</script>
  <div class="body">
  	<div class="content">
  		<ul class="big">
  			<li>Speed</li>
  			<li>Safety</li>
  			<li>Concurrency</li>
        <li>Explicitness</li>
  		</ul>
  	</div>
  </div>
{{/partial}}
{{> base }}