{{#partial heading}}Crates - Web{{/partial}}
{{#partial page}}
  <script>var nextSlide = "rfcs"</script>

  <div class="body">
  	<div class="content">
  		<ul class="big">
  			<li><code>iron</code></li>
        <li><code>nickel</code></li>
  		</ul>
  	</div>
  </div>
{{/partial}}
{{> base }}