{{#partial heading}}Crates - Serialisation{{/partial}}
{{#partial page}}
  <script>var nextSlide = "crates_web"</script>

  <div class="body">
  	<div class="content">
  		<ul class="big">
  			<li><code>serde</code></li>
        	<li><code>json</code></li>
        	<li><code>capnproto-rust</code></li>
  		</ul>
  	</div>
  </div>
{{/partial}}
{{> base }}