{{#partial heading}}Crates - Concurrency{{/partial}}
{{#partial page}}
  <script>var nextSlide = "crates_io"</script>

  <div class="body">
  	<div class="content">
  		<ul class="big">
  			<li><code>rayon</code></li>
        <li><code>crossbeam</code></li>
        <li><code>futures</code></li>
  		</ul>
  	</div>
  </div>
{{/partial}}
{{> base }}