{{#partial heading}}Crates - IO{{/partial}}
{{#partial page}}
  <script>var nextSlide = "crates_web"</script>

  <div class="body">
  	<div class="content">
  		<ul class="big">
  			<li><code>mio</code></li>
  			<li><code>tokio</code></li>
  			<li><code>rotor</code></li>
  			<li><code>hyper</code></li>
  		</ul>
  	</div>
  </div>
{{/partial}}
{{> base }}