{{#partial heading}}Generics{{/partial}}
{{#partial page}}
  <script>var nextSlide = "collections"</script>

  <ul class="body-content">
  	<li>Rust has a full-on generic type system</li>
  	<li>Using generics is often better than using trait objects, because of monomorphisation</li>
  	<li>Generics can be bound to traits, and traits can be blanket implemented for generics</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=dc0015500a775eab9a7c2ba58cf3953b" />
{{/partial}}
{{> base }}