{{#partial heading}}The Rust Language{{/partial}}
{{#partial page}}
  <script>var nextSlide = "helloworld"</script>

  <div class="body">
  	<div class="content">
  		<p class="big">Let's branch from memory for a moment and run through some Rust basics</p>
  	</div>
  </div>
{{/partial}}
{{> base }}