{{#partial heading}}Let's sidetrack from memory for a moment...{{/partial}}
{{#partial page}}
  <script>var nextSlide = "helloworld"</script>

  <div class="body noscroll">
  	<div class="content">
  		<img class="fill" src="/assets/something_different.jpg"
  	</div>
  </div>
{{/partial}}
{{> base }}