{{#partial heading}}But now for something completely different{{/partial}}
{{#partial page}}
  <script>var nextSlide = "helloworld"</script>

  <div class="body">
  	<div class="content">
  		<img class="fill" src="/assets/something_different.jpg"
  	</div>
  </div>
{{/partial}}
{{> base }}