{{#partial page}}
  <ul class="body-content">
  	<li>Functions with the <code>fn</code> keyword</li>
  	<li>That <code>!</code> is a macro</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=705754e5be7a348a4acce9579ae4bed1" />
{{/partial}}
{{> base }}