{{#partial heading}}Modules{{/partial}}
{{#partial page}}
  <script>var nextSlide = "collections"</script>
  <ul class="body-content">
  	<li>Modules are like namespaces</li>
  	<li>Members from a module are imported with <code>use</code></li>
  	<li>Member from a module are exported with <code>pub</code>. You can re-export something upstream with <code>pub use</code></li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=6b0e714df74aa9323a4a3ce6cb4c7e83" />
{{/partial}}
{{> base }}