{{#partial heading}}Ownership - References{{/partial}}
{{#partial page}}
  <script>var nextSlide = "ownership_lifetimes_1"</script>

  <ul class="body-content">
  	<li><code>&</code> is an immutable borrow</li>
  	<li><code>&mut</code> is a mutable borrow</li>
  	<li>You can either have many <code>&</code> borrows, or a single <code>&mut</code> borrow at one time</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=f668806669e55fbc8d018a10da268496" />
{{/partial}}
{{> base }}