{{#partial heading}}Ownership - References{{/partial}}
{{#partial page}}
  <script>var nextSlide = "ownership_lifetimes_1"</script>

  <ul class="body-content">
  	<li><code>&</code> is an immutable borrow</li>
  	<li><code>&mut</code> is a mutable borrow</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=124d2073dbefa5f7e9f0457b26c69372" />
{{/partial}}
{{> base }}