{{#partial heading}}Concurrency{{/partial}}
{{#partial page}}
  <script>var nextSlide = "testing"</script>

  <ul class="body-content">
  	<li>With <code>crossbeam</code> we don't even need sync</li>
  	<li>Horray zero-cost abstractions!</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=157b0819028b4408419c8ab23920f37b" />
{{/partial}}
{{> base }}