{{#partial heading}}Ownership{{/partial}}
{{#partial page}}
  <script>var nextSlide = "ownership_refs"</script>

  <div class="body">
  	<div class="content left">
  		<p class="quote">Variable bindings have a property in Rust: they ‘have ownership’ of what they’re bound to. This means that when a binding goes out of scope, Rust will free the bound resources.</p>
  		<p class="quote-src">Karl marx</p>
  	</div>
  	<img class="right" src="/assets/marx.jpg" />
  </div>
{{/partial}}
{{> base }}