{{#partial heading}}RFCs{{/partial}}
{{#partial page}}
  <script>var nextSlide = "index"</script>
  <ul class="body-content">
  	<li>A public consensus-driven process for changing Rust</li>
  	<li>Include motivations, technical discussion, implementation details, drawbacks</li>
  	<li>Anyone can propose an RFC, a core team member adopts it and anyone implements it</li>
  </ul>
  <iframe class="body-sample" src="https://github.com/rust-lang/rfcs/blob/master/text/1211-mir.md" />
{{/partial}}
{{> base }}