{{#partial heading}}RFCs{{/partial}}
{{#partial page}}
  <script>var nextSlide = "index"</script>
  <div class="body">
	  <ul>
	  	<li>A public consensus-driven process for changing Rust</li>
	  	<li>Include motivations, technical discussion, implementation details, drawbacks</li>
	  	<li>Anyone can propose an RFC, a core team member adopts it and anyone implements it</li>
	  </ul>
	  <a class="big" href="https://github.com/rust-lang/rfcs/blob/master/text/1211-mir.md" target="blank">RFC #1211 - MIR</a>
  </div>
{{/partial}}
{{> base }}