{{#partial heading}}Structures{{/partial}}
{{#partial page}}
  <script>var nextSlide = "traits"</script>

  <ul class="body-content">
	<li><code>struct</code>s represent data. They're allocated on the stack by default</li>
	<li><code>impl</code> blocks add functionality</li>
	<li>Functions can take a <code>self</code> or <code>&self</code> for instance references. If no <code>self</code> is set, the method is static</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=d12dddd485650c6b23270c806b73b95a" />
{{/partial}}
{{> base }}