{{#partial heading}}Testing{{/partial}}
{{#partial page}}
  <script>var nextSlide = "docs"</script>
  <ul class="body-content">
  	<li>Rust has basic testing out-of-the-box</li>
  	<li>On unstable channels you can also run <a href="https://travis-ci.org/KodrAus/elasticsearch-rs/jobs/154077728#L673" target="_blank">benchmarks</a></li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=aeec9e9bd8e2f9be7df45007b7911f93" />
{{/partial}}
{{> base }}