{{#partial heading}}Traits{{/partial}}
{{#partial page}}
  <script>var nextSlide = "modules"</script>
  <ul class="body-content">
  	<li>Traits are like interfaces</li>
  	<li>Rust favours composition over inheritance. You can tag a type with traits just about anywhere</li>
  </ul>
  <iframe class="body-sample" src="http://localhost:5000?gist=1dcb8a6769cf0c427459eda3fa06c716" />
{{/partial}}
{{> base }}