{{#partial heading}}Why Rust{{/partial}}
{{#partial page}}
  <script>var nextSlide = "writing_cpp"</script>

  <div class="body">
  	<div class="content">
  		<p class="big quote">Writing C# code that runs really fast is hard</p>
  	</div>
  </div>
{{/partial}}
{{> base }}