{{#partial heading}}Why Rust{{/partial}}
{{#partial page}}
  <script>var nextSlide = "helloworld"</script>

  <div class="body">
  	<div class="content">
  		<p class="big quote">Writing C++ that runs at all is hard</p>
  	</div>
  </div>
{{/partial}}
{{> base }}